{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true,
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ]
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import", "@babel/plugin-syntax-object-rest-spread", "@babel/plugin-transform-runtime"]
}
