$navbar-light-active-color: #007bff;

@import "~@fortawesome/fontawesome-free/css/all.css";

@import "bootstrap";
@import "grid";
@import "list";

@include update-grid-columns();

.app-navbar-brand {
  color: $green !important;
}

.cover {
  width: 100%;
  height: auto;
}

.no-cover {
  width: 300px;
  height: 450px;
  background-color: gray;
}
